################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HubSpot/code/.vs/HubSpotConnector/v15
