################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HubSpot/code/.vs/HubSpotConnector/v15
/HubSpot/code/bin/Debug/HubSpot.mez
/HubSpot/code/bin
/HubSpot/code/obj/Release
/HubSpot/code/obj/Debug
/ZendeskSupport/code/.vs
/ZendeskSupport/code/obj/Debug
/.vs
/Xero/.vs/Xero/v16
/Xero/obj/Debug
/Xero/.vs/Xero/config
/Xero/bin/Debug
